* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
  }

  .bg{
      position: fixed;
      min-height: 4rem;
      top: 0;
      right: 0;
      left: 0;
      z-index: 200;
      transition: 0.5s ease;
      background-color: #f1f0f2 !important;
  }

  .bg > a,#nav-links{
    color: #000000 !important;
  }

  .bg.scrolled{
    color:#ffffff !important;
    background-color: #000000 !important;
  }

  .bg.scrolled > a{
    color:#ffffff !important;
  }

  .bg.scrolled  #nav-links{
    color:#ffffff !important;
  }

  
  
  #bar{
    outline: none;
    box-shadow: none;
    border:0px;
    color:#000000;
  }

 #bar:focus{
    box-shadow: none;
    outline:none;
  }
  
  .bg.scrolled #bar{
    color: #ffffff !important
  }

#nav-links:hover{
  border-bottom: 2px solid #ffffff;
  transition: 0.25s;
}

  #background-container {
    background: url(/images/teebag-min.jpg) center / cover no-repeat;
    background-attachment: fixed;
    min-height: 42rem;
    position: relative;
  }

  .overlay{
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  #dangle-down {
    animation: down 1s linear 1s infinite;
  }
  @keyframes down {
    from {
      transform: translateY(10px);
    }
  
    to {
      transform: translateY(0px);
    }
  }

  .img{
      background: url(images/teebag-min.jpg)  center / cover no-repeat;
      height: 10rem;
      width: 10rem;
      border-radius: 50%;

  }

  #code{
      height:6rem;
      width: 6rem;
      border: 8px solid #000000;
      border-radius: 50%;
      padding-top: 1.6rem;
      font-size:2rem;
      color:#000000;
      background-color: #f1f0f2;
  }

  #code:hover{
    border: 8px solid grey;
    color:#ffffff;
    background-color: #000000;
  }

      
    .folio-image{
        max-width: 90%;
        transition: all 0.25s;
        margin: 0 auto;
       
    }

    .folio-image:hover{
        transform: scale(1.2);
        transition: 0.25s;
        border:none;
    }

    .btn:focus{
        outline:none;
        box-shadow: none;
    }

    #btnfolio:focus{
        outline:none;
        box-shadow: none;
    }


    #plus{
        border-radius: 50%;
        border: 1px solid #000000;
        height:2rem;
        width:2rem;
        font-weight:lighter;
        padding-top: 0.5rem;
    }

    #background-container2 {
        background: url(images/pexels-serpstat-572056.jpg) center / cover no-repeat;
        background-attachment: fixed;
        min-height: 28rem;
        position: relative;
      }
    
      .overlay2{
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }

      #experience-logo{
        height:6rem;
        width: 6rem;
        border: 8px solid #000000;
        border-radius: 50%;
        padding-top: 1.6rem;
        font-size:2rem;
        color:#000000;
        background-color: #f1f0f2;
    }

    #contact-logo{
        font-size:2rem;
    }
    
    #social-links {
      color: #ffffff;
      background-color: #000000;
      padding: 15px;
      border-radius: 50%;
    }
    
    #social-links:hover {
      background-color: grey;
      color: #000000;
    }
  
  
  
  
        @media(max-width:768px) {
    .img{
        background: url(images/teebag-min.jpg)  center / cover no-repeat;
        height: 7rem;
        width: 7rem;
        margin-top: 2rem;
        border-radius: 50%;
      }

      #background-container2 {
        background: url(images/pexels-serpstat-572056.jpg) top center / cover no-repeat;
        background-attachment: fixed;
        min-height: 60rem;
        position: relative;
      }
    
  
  }

  @media(max-width:400px){
    .img{
      background: url(images/teebag-min.jpg)  center / cover no-repeat;
      height: 6rem;
      width: 6rem;
      margin-top: 3rem;
      border-radius: 25%;
    }
  }